.carousel-container{
    overflow: hidden;
    height: 440px;
}

.slide-title{
    margin: 20px 0;
    margin-left: 50px;
    font-weight: bold;
}

.movie-slider {
    display: flex;
    justify-content: center;
  }

@media(max-width: 480px){
    .carousel-container{
        height: 330px;
        display: flex;
        justify-content: space-between;
    }
}